<% if @game.current_turn == @game.player_1 %>
<%= @game.player_1.name %> attacked <%= @game.player_2.name %>

<%= @game.player_2.name %>'s turn


<% else %>
<%= @game.player_2.name %> attacked <%= @game.player_1.name %>

<%= @game.player_1.name %>'s turn
<% end %>
<%= @game.player_1.name %> HB points = <%= @game.player_1.hit_points %>
<%= @game.player_2.name %> HB points = <%= @game.player_2.hit_points %>
<form action='/switching_turn' method="post">
  <input type='submit' value='OK!'>
  </form>
