
<p><h1>Welcome to Battle!</h1></p>

<body>


<p><%= @game.player_1.name %> vs. <%= @game.player_2.name %></p>

<p><%= @game.player_1.name %> HP POINTS: <%= @game.player_1.hit_points %>HP</p>
<p><%= @game.player_2.name %> HP POINTS: <%= @game.player_2.hit_points %>HP</p>

<form action="/attack" method="post">
  <input name= "attack" type="submit" value="Attack!">
</form>

<p><%= @game.current_turn.name %>'s turn</p>

</body>
